html {
  /* background-color: rgb(241, 236, 236);
  color: white; */
  /* height: 100vh; */
}
.App-dark {
  background: black;
  color: white;
  height: 100vh;
}
.App-light {
  background: white;
  color: black;
  height: 100vh;
}

.css-i4bv87-MuiSvgIcon-root {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  fill: currentColor;
}
body {
  margin: 0;

  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif; */

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
