.sidebar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1;
}
.sidebar_logo {
  width: 120px;
  margin: 25px;
}
.sidebar_buttons {
  display: flex;
  flex-direction: column;
}
.sidebar_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background: 0;
  margin: 5px 10px 5px 10px;
  padding: 10px 15px 10px 15px;
  border: 0;
  border-radius: 15px;
  width: 100%;
}
.sidebar_button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.128);
}
.sidebar_button > span {
  font-size: 18px;
  font-weight: bolder;
  margin-left: 10px;
}

.logout__button {
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: rgba(255, 255, 255, 0.211);
  padding: 10px;
  border: 0;
  margin-left: 40px;
  margin-top: 15px;
}

.login__button {
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: rgba(247, 9, 9, 0.961);
  padding: 10px;
  color: white;
  border: 0;
}
.sidebar_more {
  position: fixed;
  bottom: 0;
}
.email__text {
  font-size: 15px;
  font-weight: bold;
  color: rgb(225, 239, 231);
}
.user__info {
  display: flex;
  flex-direction: column;
}
.user__email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
