.suggestion {
  width: 500px;
  margin-top: 30px;
  margin-left: 100px;
}
.suggestion_title {
  color: gray;
  font-weight: bold;
}
.suggestion_users {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.suggestion_usernameLeft {
  display: flex;
  align-items: center;
}
.username_info {
  display: flex;
  flex-direction: column;
}
.relation {
  color: gray;
  font-size: 12px;
}
.suggestion_users {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.follow_button {
  color: #0095f6;
  font-weight: bold;
  border: 0;
  background: 0;
}
.follow_button:hover {
  color: white;
  cursor: pointer;
}
.username {
  font-weight: 600;
  font-size: 14px;
}
.avatar {
  margin-right: 10px;
}
.logout__button {
  margin-right: 5px;
}
